* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 20px 15%;
}

form > div {
    clear: both;
    overflow: hidden;
    padding: 1px;
    margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
    margin: 0 0 5px 0;
}
form > div > label,
legend {
    width: 25%;
    float: left;
    padding-right: 10px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=submit] {
    width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
    outline: 0;
    border-color: #4697e4;
}

input[type=submit] {
    width: 25%;
}

@media (max-width: 600px) {
    form > div {
        margin: 0 0 15px 0;
    }
    form > div > label,
    legend {
        width: 100%;
        float: none;
        margin: 0 0 5px 0;
    }
    form > div > div,
    form > div > fieldset > div {
        width: 100%;
        float: none;
    }
    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea,
    select {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    form > div > label,
    legend {
        text-align: right;
    }
}

header {
    display: block;
}

/***********************************
************GLOBAL HEADER***********
***********************************/

/*! normalize.min.css+global.css, 1360691515049 *//*! normalize.css v2.0.1 | MIT License | git.io/normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%}
body{margin:0}
a:focus{
    outline:thin dotted}
a:active,a:hover{outline:0}
h1{font-size:2em}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}
sub,sup{font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
.content-type{display:none}
html{font-family:helvetica,sans-serif;font-size:1em}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box}
::selection{color:white;background-color:black}
.inline-block{display:inline-block}
.hidden{visibility:hidden}
a{outline:0;border:0}
a.user{text-decoration:inherit;color:black}
body{background-color:#fafafa}
p,li{max-width:100ex}
[contenteditable="true"]{background-color:white;outline:1px solid #DDD}
[contenteditable="true"]:focus{outline-color:#AAA}
.filepath,code,pre{font-family:'dejavu sans mono',monospace;background:#EEE;padding-left:2px;padding-right:2px}
.filepath,code{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px}
.filepath{font-size:small}
pre{padding:5px 10px;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px}
.bar ul,.bar li,.bar form,.bar nav{display:inline-block}
.bar ul{padding-left:inherit}
.navlink abbr{outline:0;border:0;height:100%;-webkit-transform: skewx(20deg);}
.bar a{color:inherit}
.submenu ul{list-style-type:none;padding-left:5px}
aside.submenu{max-width:100px}
aside.submenu a{text-decoration:none;color:#111}
aside.submenu a:visited{color:#444}
aside.submenu h4,aside.submenu h5,aside.submenu h6{white-space:nowrap}
aside.submenu h4{margin:10px auto 5px}
aside.submenu h5{margin:6px auto 3px}
aside.submenu h6{margin:3px auto 3px}
aside.submenu .semester,aside.submenu .semester nav{padding-left:5px}

/*******************************************
***********INDICATEUR HIERARCHIE************
*******************************************/

nav > p {
    padding: 10px;
}

/*#breadcrumbs .next:before{content:'›'}*/
#breadcrumbs li{
    display:inline-block;
    font-size:.9em;
    background:#eee;
    padding: 5px; margin-left:26px;
    height: 26px;
    position:relative;
    -webkit-filter: drop-shadow(0 1px 4px #CCC);
    -moz-filter: drop-shadow(0 1px 4px #CCC);
    -o-filter: drop-shadow(0 1px 4px #CCC);
    filter: drop-shadow(0 1px 4px #CCC);
}
#breadcrumbs li:nth-child(even){background: #aaa!important}
#breadcrumbs li:nth-child(even)::after{
    content:"";
    position:absolute;
    border-width: 13px;border-color: transparent transparent transparent #aaa;border-style:solid;
    top:0;right:-26px;
    z-index:1;
}
#breadcrumbs li:nth-child(even)::before{
    content:"";
    position:absolute;
    border-width: 13px;border-color: #aaa #aaa #aaa transparent;border-style:solid;
    top:0;left:-26px;
    z-index:1;
}
#breadcrumbs li:nth-child(odd)::after{
    content:"";
    position:absolute;
    border-width: 13px;border-color: transparent transparent transparent #eee;border-style:solid;
    top:0;right:-26px;
    z-index:1;
}
#breadcrumbs li:nth-child(odd)::before{
    content:"";
    position:absolute;
    border-width: 13px;border-color: #eee #eee #eee transparent;border-style:solid;
    top:0;left:-26px;
    z-index:1;
}
#breadcrumbs li a,#breadcrumbs li a:visited{ color: gray}
input[type="text"],input[type="password"],input[type="tel"],input[type="search"],input[type="url"],input[type="email"],input[type="date"],textarea{
    border:1px solid #BBB;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:inset 0 2px 10px #DDD;
    -moz-box-shadow:inset 0 2px 10px #DDD;
    -ms-box-shadow:inset 0 2px 10px #DDD;
    -o-box-shadow:inset 0 2px 10px #DDD;
    box-shadow:inset 0 2px 10px #DDD;
    padding:2px 5px;
    outline:none;
}
textarea{padding:5px 10px}
input[type="button"],input[type="submit"],input[type="reset"],span.button,a.button{position:relative;border:1px solid #666;cursor:pointer;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;padding:2px 4px;margin:2px;background-color:#222;color:#DDD;text-shadow:0 1px 2px #666}
span.button,a.button,span.show-hide-button{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none}
span.small.button,a.small.button{font-size:.8em}
span.button.disabled,a.button.disabled{cursor:default;background-color:inherit;color:inherit;text-shadow:inherit}
.show-hide-button{cursor:pointer}
input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active{background-color:#000;text-shadow:0 -1px 2px #666}
label.hidden.explicit{width:0;height:0;overflow:hidden;margin:0}
input.valid{border-color:green}
input.invalid{border-color:red}
form label,#edit_form input[type=submit]{display:block}
.microcopy{display:inline-block;position:relative;top:-3px;margin:1px 20px 2px 20px;font-size:.6em;
    color:#333;max-width:400px}
input.title{font-weight:bold;font-size:1.2em}
form.proposing-content label.container,form.proposing-content fieldset{margin-top:5px;margin-bottom:5px}
form.proposing-content h6{margin-top:2px;margin-bottom:2px}

#global_header{
    margin:0 0 25px 0;
    position:relative;
    width:100%;
    background-color:#EEE;
    background: -webkit-linear-gradient(#fff,#eee);
    background: -moz-linear-gradient( #fff,#eee);
    background: -ms-linear-gradient( #eee,#fff);
    background: -o-linear-gradient( #eee,#fff);
    background: linear-gradient( #eee,#fff);
    -webkit-box-shadow:0 1px 4px #CCC;
    -moz-box-shadow:0 1px 4px #CCC;
    -ms-box-shadow:0 1px 4px #CCC;
    -o-box-shadow:0 1px 4px #CCC;
    box-shadow:0 1px 4px #CCC;
    max-height:80px;
}
#global_header a{text-decoration:none}
#global_header_nav{width:100%;display:table;white-space:nowrap;padding:0}
#main_logo_link,#cursus_nav,#others_nav,#search{vertical-align:middle;display:table-cell}
#main_logo_link{width:32px}
#cursus_nav{
    display:inline-block;
    position:relative;
    padding: 0 0 0 20px;
    margin:0;
    height: 100%;
}

#cursus_nav li,#cursus_nav li a,#cursus_nav li a abbr{
    height: 100%;
    position:relative;
}
#cursus_nav li{
    width: 50px;
    border-right: 1px #aaa solid;
    padding: 0 5px 0 5px;
    /*box-shadow: 8px 0 8px #999; effet superpopsition, uncomment it :) */
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
    text-align:center;
    -webkit-transform: skewx(-20deg);
}
#cursus_nav li:hover{}
#cursus_nav li:hover a,#cursus_nav li:hover a abbr{z-index: 999;}
#cursus_nav li:hover::after{
    content:"";
    position:absolute;
    width:100%;height:100%;padding-right: 5px;
    background: rgba(105,105,105,0.5);
    top:0;left:-4px;/*-4px car pour décalage de 1px de la bordure un peu laide*/
}
#cursus_nav li a,#cursus_nav li a abbr{display:block; padding:5px}
#others_nav,#search{text-align:right}
#search{width:250px;padding-left:16px;padding-right:16px;}
.msg{border:2px solid black;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;min-width:200px;margin:auto 40px 20px 40px;padding:5px 10px}
.msg p{margin:0}
.msg p::before{margin-right:10px}
.error_msg p::before{content:'✗'}
.notice_msg p::before{content:'⚠'}
.success_msg p::before{content:'✓'}
.error_msg{background-color:#DAA;border-color:#F55}
.notice_msg{background-color:#FD9;border-color:#FA0}
.success_msg{background-color:#ADA;border-color:#4D4}
.moderation.bar{font-size:.9em}
.moderation.bar a:visited{color:inherit}

.contenedor {
    border: 1px solid black;
    padding: 10px;
}

div > h1 {
    text-align: center;
    text-transform: uppercase;
}